@import "tailwindcss";

@theme {
  --color-secondary: #64ffda;
}

.mouse-aura {
  @apply pointer-events-none fixed inset-0;
  background-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(63, 81, 181, 0.3) 0%,
    rgba(63, 81, 181, 0.15) 30%,
    rgba(63, 81, 181, 0) 50%
  );

  /* Media query for touch devices */
  @media (hover: none) and (pointer: coarse) {
    background-image: radial-gradient(
      circle at top left,
      rgba(63, 81, 181, 0.3) 0%,
      rgba(63, 81, 181, 0.15) 30%,
      rgba(63, 81, 181, 0) 50%
    );
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-left {
  display: flex;
  animation: slide-left 30s linear infinite;
  width: max-content;
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-right {
  display: flex;
  animation: slide-right 20s linear infinite;
  width: max-content;
}
